    <!-- WEB FONTS -->

    <header id="topNav">
      <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn" data-toggle="collapse" data-target=".nav-main-collapse">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Logo text or image -->
        <a class="logo" href="index.html">
          <img src="/logo.png" alt="Atropos" />
        </a>

        <!-- Top Nav -->
        <div class="navbar-collapse nav-main-collapse collapse pull-right">
          <nav class="nav-main mega-menu">
            <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
              <li class="active">
                <a href="/index.html">Главная</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" href="#">
                  Услуги <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="fa fa-check-square-o"></i>Создание сайтов</a></li>
                  <li><a href="#"><i class="fa fa-check-square-o"></i>Сопровождение сайтов</a></li>
                  <li><a href="#"><i class="fa fa-check-square-o"></i>Продвижение сайтов</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Стоимость</a>
              </li>
              <li>
                <a href="#">Портфолио</a>
              </li>
              <li>
                <a href="#">Блог</a>
              </li>
              <li>
                <a href="#">Контакты</a>
              </li>

            </ul>
          </nav>
        </div>
        <!-- /Top Nav -->

      </div>
    </header>

    <span id="header_shadow"></span>
    <!-- /TOP NAV -->