	<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<%= render "/shared/bread" %>

			<section class="container">

				<!-- Who Am I -->
				<article class="row">
					<div class="col-md-6">
								<img class="img-responsive" src="/images/about_1.jpg" width="555" height="311" alt="">
					</div>
					<div class="col-md-6">
						<h3>Кто мы?</h3>
						<p>Компания "Инфоком-НН", занимается ИТ-аутсорсингом. В 2014 году мы запустили проект "AllProgress.ru" <strong>по созданию удобных и информативных сайтов</strong>. Нашей задачей является ориентация заказчиков на современные технологии. Мы создали проект, позволяющий нашим клиентам не просто приобрести сайт "для галочки", но дающий возможность получить новый высокоэффективный инструмент для развития бизнеса.</p>
						
						<hr />

						<ul class="list-icon star-o">
							<li>Вы приобретайте <strong class="orange">готовый сайт</strong></li>
							<li>Мы готовы взять на себя дальнейшее <strong class="orange">сопровождение сайта</strong></li>
							<li>Наши сайты легко выводятся <strong class="orange">в ТОП поисковиков</strong></li>
						</ul>

					</div>
				</article>
				<!-- /Who Am I -->

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<!-- SKILLS -->
				<div class="row">

					<div class="col-xs-6 col-md-3">
						<div class="text-center">
							<div class="circular-bar">
								<input class="knob" data-linecap="round" data-bgColor="#FAFAFA" data-fgColor="#F07057" data-thickness=".06" value="87" data-readOnly="true" data-displayInput="false">
								<div class="circular-bar-content">
									<strong>HTML</strong>
									<label>91%</label>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="text-center">
							<div class="circular-bar">
								<input class="knob" data-linecap="round" data-bgColor="#FAFAFA" data-fgColor="#F07057" data-thickness=".06" value="93" data-readOnly="true" data-displayInput="false">
								<div class="circular-bar-content">
									<strong>CSS</strong>
									<label>93%</label>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-md-3">
						<div class="text-center">
							<div class="circular-bar">
								<input class="knob" data-linecap="round" data-bgColor="#FAFAFA" data-fgColor="#F07057" data-thickness=".06" value="73" data-readOnly="true" data-displayInput="false">
								<div class="circular-bar-content">
									<strong>PHP</strong>
									<label>73%</label>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="text-center">
							<div class="circular-bar">
								<input class="knob" data-linecap="round" data-bgColor="#FAFAFA" data-fgColor="#F07057" data-thickness=".06" value="61" data-readOnly="true" data-displayInput="false">
								<div class="circular-bar-content">
									<strong>PHOTOSHOP</strong>
									<label>61%</label>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /SKILLS -->


				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>


				<!-- WORK -->
				<section class="container">
					<h2>
						Some of my <strong>best work</strong> is featured below.
						<span class="subtitle">We've added over 36 new features! New layouts, short codes, theme options &amp; more!</span>
					</h2>

					<div class="row">

						<div class="col-md-3"><!-- item 1 -->
							<div class="item-box">
								<figure>
									<a class="item-hover" href="portfolio-single.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PROJECT</strong> DETAIL
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/scouter-600x403.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Atropos Project</h4>
									<small class="styleColor">29 June, 2014</small>
								</div>
							</div>
						</div>

						<div class="col-md-3"><!-- item 2 -->
							<div class="item-box">
								<figure>
									<a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>VIEW</strong> VIDEO
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/black-kitty-600x403.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Atropos Video</h4>
									<small class="styleColor">29 June, 2014</small>
								</div>
							</div>
						</div>

						<div class="col-md-3"><!-- item 3 -->
							<div class="item-box">
								<figure>
									<a class="item-hover lightbox" href="assets/images/demo/portfolio/merchant2-600x403.jpg" data-plugin-options='{"type":"image"}'>
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PROJECT</strong> DETAIL
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/merchant2-600x403.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Atropos Image</h4>
									<small class="styleColor">29 June, 2014</small>
								</div>
							</div>
						</div>

						<div class="col-md-3"><!-- item 4 -->
							<div class="item-box">
								<figure>
									<a class="item-hover" href="portfolio-single.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PROJECT</strong> DETAIL
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/flippin-the-bird1-600x403.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Atropos Project</h4>
									<small class="styleColor">29 June, 2014</small>
								</div>
							</div>
						</div>

						<div class="col-md-3"><!-- item 5 -->
							<div class="item-box">
								<figure>
									<a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>VIEW</strong> VIDEO
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/night_to_remember1-600x403.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Atropos Video</h4>
									<small class="styleColor">29 June, 2014</small>
								</div>
							</div>
						</div>

						<div class="col-md-3"><!-- item 6 -->
							<div class="item-box">
								<figure>
									<a class="item-hover lightbox" href="assets/images/demo/portfolio/spacebound-600x403.jpg" data-plugin-options='{"type":"image"}'>
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PROJECT</strong> DETAIL
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/spacebound-600x403.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Atropos Image</h4>
									<small class="styleColor">29 June, 2014</small>
								</div>
							</div>
						</div>

						<div class="col-md-3"><!-- item 7 -->
							<div class="item-box">
								<figure>
									<a class="item-hover" href="portfolio-single.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PROJECT</strong> DETAIL
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/be-my-guest1-600x403.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Atropos Project</h4>
									<small class="styleColor">29 June, 2014</small>
								</div>
							</div>
						</div>

						<div class="col-md-3"><!-- item 8 -->
							<div class="item-box">
								<figure>
									<a class="item-hover" href="portfolio-single.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PROJECT</strong> DETAIL
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/black-box5-600x403.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Atropos Project</h4>
									<small class="styleColor">29 June, 2014</small>
								</div>
							</div>
						</div>

					</div>

				</section>
				<!-- /WORK -->

				<%= render "/shared/phoneus" %>

			</section>


		</div>
		<!-- /WRAPPER -->
