<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<%= render "/shared/bread" %>

		<section class="container text-center">
				<h1 class="text-center">
					<strong>Добро Пожаловать</strong> В Наш Каталог Сайтов
					<span class="subtitle">Возможно, лучшее, что вам довелось увидеть!</span>
				</h1>
				<p class="lead">В нашем каталоге вы может выбрать Ваш будущий сайт. Все экземпляры доступны для подробного ознакомления. Вы покупайте уже готовое решение, которое останется только доработать под нужды Вашей организации. Уже сейчас, в режиме on-line, можно посмотреть макет будущего сайта.</p>
			</section>



			<div id="shop">

				<section class="container">

					<div class="row">

						<div class="col-sm-6 col-md-3"><!-- item -->
							<div class="item-box fixed-box">
								<figure>
									<a class="item-hover" href="shop-product-full-width.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>ПОДРОБНАЯ</strong> ИНФОРМАЦИЯ
										</span>
									</a>
									<a href="shop-cart.html?action=cart_add&amp;product_id=1&amp;product_color=red&amp;product_size=l&amp;product_qty=1" class="btn btn-primary add_to_cart"><i class="fa fa-external-link"></i> Перейти на сайт</a>
									<img class="img-responsive" src="/images/shop/3.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Артикул 950001</h4>
									<small class="styleColor"><span>31 000 руб.</span> 18 000 руб.</small>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3"><!-- item -->
							<div class="item-box fixed-box">
								<figure>
									<a class="item-hover" href="shop-product-full-width.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PRODUCT</strong> DETAIL
										</span>
									</a>
									<a href="shop-cart.html?action=cart_add&amp;product_id=1&amp;product_color=red&amp;product_size=l&amp;product_qty=1" class="btn btn-primary add_to_cart"><i class="fa fa-shopping-cart"></i> ADD TO CART</a>
									<img class="img-responsive" src="/images/shop/4.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Black Shoes</h4>
									<small class="styleColor"><span>$180</span> $150</small>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3"><!-- item -->
							<div class="item-box fixed-box">
								<figure>
									<a class="item-hover" href="shop-product-full-width.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PRODUCT</strong> DETAIL
										</span>
									</a>
									<a href="shop-cart.html?action=cart_add&amp;product_id=1&amp;product_color=red&amp;product_size=l&amp;product_qty=1" class="btn btn-primary add_to_cart"><i class="fa fa-shopping-cart"></i> ADD TO CART</a>
									<img class="img-responsive" src="assets/images/demo/shop/3.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>James Bond Watch - Titanium Case</h4>
									<small class="styleColor"><span>$180</span> $150</small>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3"><!-- item -->
							<div class="item-box fixed-box">
								<figure>
									<a class="item-hover" href="shop-product-full-width.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PRODUCT</strong> DETAIL
										</span>
									</a>
									<a href="shop-cart.html?action=cart_add&amp;product_id=1&amp;product_color=red&amp;product_size=l&amp;product_qty=1" class="btn btn-primary add_to_cart"><i class="fa fa-shopping-cart"></i> ADD TO CART</a>
									<img class="img-responsive" src="assets/images/demo/shop/4.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Pink Lady Shoes</h4>
									<small class="styleColor"><span>$180</span> $150</small>
								</div>
							</div>
						</div>


						<div class="col-sm-6 col-md-3"><!-- item -->
							<div class="item-box fixed-box">
								<figure>
									<a class="item-hover" href="shop-product-full-width.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PRODUCT</strong> DETAIL
										</span>
									</a>
									<a href="shop-cart.html?action=cart_add&amp;product_id=1&amp;product_color=red&amp;product_size=l&amp;product_qty=1" class="btn btn-primary add_to_cart"><i class="fa fa-shopping-cart"></i> ADD TO CART</a>
									<img class="img-responsive" src="assets/images/demo/shop/5.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Yellow Lady Dress</h4>
									<small class="styleColor"><span>$180</span> $150</small>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3"><!-- item -->
							<div class="item-box fixed-box">
								<figure>
									<a class="item-hover" href="shop-product-full-width.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PRODUCT</strong> DETAIL
										</span>
									</a>
									<a href="shop-cart.html?action=cart_add&amp;product_id=1&amp;product_color=red&amp;product_size=l&amp;product_qty=1" class="btn btn-primary add_to_cart"><i class="fa fa-shopping-cart"></i> ADD TO CART</a>
									<img class="img-responsive" src="assets/images/demo/shop/6.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>White Hat</h4>
									<small class="styleColor"><span>$180</span> $150</small>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3"><!-- item -->
							<div class="item-box fixed-box">
								<figure>
									<a class="item-hover" href="shop-product-full-width.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PRODUCT</strong> DETAIL
										</span>
									</a>
									<a href="shop-cart.html?action=cart_add&amp;product_id=1&amp;product_color=red&amp;product_size=l&amp;product_qty=1" class="btn btn-primary add_to_cart"><i class="fa fa-shopping-cart"></i> ADD TO CART</a>
									<img class="img-responsive" src="assets/images/demo/shop/7.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Man Shirt</h4>
									<small class="styleColor"><span>$180</span> $150</small>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3"><!-- item -->
							<div class="item-box fixed-box">
								<figure>
									<a class="item-hover" href="shop-product-full-width.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PRODUCT</strong> DETAIL
										</span>
									</a>
									<a href="shop-cart.html?action=cart_add&amp;product_id=1&amp;product_color=red&amp;product_size=l&amp;product_qty=1" class="btn btn-primary add_to_cart"><i class="fa fa-shopping-cart"></i> ADD TO CART</a>
									<img class="img-responsive" src="assets/images/demo/shop/8.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Futuristic Sofa</h4>
									<small class="styleColor"><span>$180</span> $150</small>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3"><!-- item -->
							<div class="item-box fixed-box">
								<figure>
									<a class="item-hover" href="shop-product-full-width.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PRODUCT</strong> DETAIL
										</span>
									</a>
									<a href="shop-cart.html?action=cart_add&amp;product_id=1&amp;product_color=red&amp;product_size=l&amp;product_qty=1" class="btn btn-primary add_to_cart"><i class="fa fa-shopping-cart"></i> ADD TO CART</a>
									<img class="img-responsive" src="assets/images/demo/shop/1.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Another Man Shirt</h4>
									<small class="styleColor"><span>$180</span> $150</small>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3"><!-- item -->
							<div class="item-box fixed-box">
								<figure>
									<a class="item-hover" href="shop-product-full-width.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PRODUCT</strong> DETAIL
										</span>
									</a>
									<a href="shop-cart.html?action=cart_add&amp;product_id=1&amp;product_color=red&amp;product_size=l&amp;product_qty=1" class="btn btn-primary add_to_cart"><i class="fa fa-shopping-cart"></i> ADD TO CART</a>
									<img class="img-responsive" src="assets/images/demo/shop/2.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Same Black Shoe</h4>
									<small class="styleColor"><span>$180</span> $150</small>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3"><!-- item -->
							<div class="item-box fixed-box">
								<figure>
									<a class="item-hover" href="shop-product-full-width.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PRODUCT</strong> DETAIL
										</span>
									</a>
									<a href="shop-cart.html?action=cart_add&amp;product_id=1&amp;product_color=red&amp;product_size=l&amp;product_qty=1" class="btn btn-primary add_to_cart"><i class="fa fa-shopping-cart"></i> ADD TO CART</a>
									<img class="img-responsive" src="assets/images/demo/shop/3.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>James Bond Watch</h4>
									<small class="styleColor"><span>$180</span> $150</small>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3"><!-- item -->
							<div class="item-box fixed-box">
								<figure>
									<a class="item-hover" href="shop-product-full-width.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PRODUCT</strong> DETAIL
										</span>
									</a>
									<a href="shop-cart.html?action=cart_add&amp;product_id=1&amp;product_color=red&amp;product_size=l&amp;product_qty=1" class="btn btn-primary add_to_cart"><i class="fa fa-shopping-cart"></i> ADD TO CART</a>
									<img class="img-responsive" src="assets/images/demo/shop/4.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Pink Lady Shoes</h4>
									<small class="styleColor"><span>$180</span> $150</small>
								</div>
							</div>
						</div>

					</div>

				</section>

			</div>

<%= render "/shared/phoneus" %>

		</div>
		<!-- /WRAPPER -->