<% provide(:title, @title) %>

	<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<header id="page-title" class="nopadding">
				<div id="gmap"><!-- google map --></div>
			</header>


			<section id="contact" class="container">


				<div class="row">

					<!-- FORM -->
					<div class="col-md-8">

						<h2>Задайте свой вопрос или просто скажите <strong><em>Привет!</em></strong></h2>

						<form class="white-row" action="php/contact.php" method="post">
							<div class="row">
								<div class="form-group">
									<div class="col-md-6">
										<label>ФИО *</label>
										<input type="text" placeholder="Игорь Иванов" maxlength="100" class="form-control">
									</div>
									<div class="col-md-6">
										<label>E-mail *</label>
										<input type="email" placeholder="infocom-nn@yandex.ru" maxlength="100" class="form-control" name="email" id="email">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-12">
										<label>Телефон (если Вы хотите, чтобы мы Вам перезвонили)</label>
										<input type="text" placeholder="8-903-602-89-19" maxlength="100" class="form-control">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-12">
										<label>Ваш вопрос *</label>
										<textarea maxlength="5000" placeholder="Задайте свой вопрос здесь" rows="10" class="form-control"></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<input type="submit" value="Отправить Сообщение" class="btn btn-primary btn-lg" data-loading-text="Loading...">
								</div>
							</div>
						</form>
					
					</div>
					<!-- /FORM -->


					<!-- INFO -->
					<div class="col-md-4">

						<h2>Наши координаты</h2>

						<p>
							Мы всегда рады звонкам от потенциальных клиентов. Уверены, что даже в случае, если вы не станете заказчиком, наши специалисты смогут дать Вам профессиональную консультацию по вопросам web-разработки.
						</p>

						<div class="divider half-margins"><!-- divider -->
							<i class="fa fa-star"></i>
						</div>

						<p>
							<span class="block"><strong><i class="fa fa-map-marker"></i> Адрес:</strong> г. Нижний Новгород, ул. Бекетова, 15, оф. 4</span>
							<span class="block"><strong><i class="fa fa-phone"></i> Телефон:</strong> <span class="orange">414-89-19</span>
							<span class="block"><strong><i class="fa fa-mobile-phone"></i> Телефон:</strong> <span class="orange">8-903-602-89-19</span>
							<span class="block"><strong><i class="fa fa-edit"></i> Факс:</strong> 8 (831) 435-62-30</span>
							<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> infocom-nn@yandex.ru</span>
						</p>

						<div class="divider half-margins"><!-- divider -->
							<i class="fa fa-star"></i>
						</div>

						<h4 class="font300">Рабочее Время</h4>
						<p>
							<span class="block"><strong>Понедельник - Пятница:</strong> С 10:00 до 19:00</span>
							<span class="block"><strong>Суббота:</strong> С 10:00 до 14:00</span>
							<span class="block"><strong>Воскресенье:</strong> Выходной</span>
						</p>

					</div>
					<!-- /INFO -->

				</div>

			</section>

		</div>
		<!-- /WRAPPER -->