    <!-- WRAPPER -->
    <div id="wrapper">
      
      <%= render '/shared/slider' %>


      <%= render '/shared/moremenu' %>



      <section class="container text-center">

            <% flash.each do |key, value| %>
              <%= content_tag(:div, value, class: "alert alert-#{key}") %>
            <% end %>

        <h1 class="text-center">
          <strong>Создание</strong> сайтов
          <span class="subtitle">ПРОЕКТ КОМПАНИИ "ИНФОКОМ-НН"</span>
        </h1>
        <p class="lead">Мы создаём сайты. Широкий выбор готовых решений. Минимальные сроки создания при удивительно низких ценах на сайты. Всё просто: вы выбираете вариант дизайна, уже разработанного нашими специалистами, из каталога. Связывайтесь с нашим менеджером. Заключайте договор. Совместно с намиши специалистами наполняйте сайт инфомрацией о Вашей компании. Уже через несколько дней сайт готов!</p>

        <%= render "/shared/kp" %>

      </section>


      <div class="container">
        <hr class="half-margins" /><!-- hr line -->
      </div>


      <!-- FEATURED BOXES 3 -->
      <section class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="featured-box nobg border-only">
              <div class="box-content">
                <i class="fa fa-users"></i>
                <h4>Команда разработчиков</h4>
                <p>Созданием, споровождением и продвижением сайтов занимается целая команда профессионалов.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="featured-box nobg border-only">
              <i class="fa fa-book"></i>
              <h4>Сроки изготовления</h4>
              <p>Вы покупайте практически готовый уникальный сайт, который останется только доработать под ваши нужды.</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="featured-box nobg border-only">
              <i class="fa fa-trophy"></i>
              <h4>Низкая стоимость</h4>
              <p>Любой сайт из нашего каталога по 15 000 рублей "под ключ".</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="featured-box nobg border-only">
              <i class="fa fa-cogs"></i>
              <h4>Высокое качество</h4>
              <p>Самые передовые разработки в области web-программирования.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- /FEATURED BOXES 3 -->


      <div class="container">
        <hr class="no-lines" /><!-- hr line -->
      </div>


      <!-- CAROUSEL -->
      <section class="container">
        <div class="row">

          <div class="col-md-6">
            <h2>Добро пожаловать!</h2>
            <p>Мы рады приветствовать Вас на сайте проекта "Allprogress" компании <a href="http://infotechcom.ru" target="blank">Инфоком-НН</a> в Нижнем Новгроде. Мы занимаемся созданием, поддержкой и продвижением сайтов. Будем рады видеть Вас в числе наших клиентов.</p>
            <p>ООО "Инофокм-НН" занимается <strong>ит-аутсорсингом</strong>с 2012 года. Помимо обслуживания компьютеров и настройки серверов мы открыли новое пнаправление по созданию и сопровождению сайтов. Наличие опыта по работе с различными клиентами, начиная от ИП и заканчивая представителя крупного бизнеса по зволило нам выйти на новый рынок <strong>web-разработок</strong>.</p>
            <p>Надеемся, что у Вас останутся самые положительные впечатления от нашго взаимовыгодного сотрудничества. Также обращаем Ваше внимание на работы, уже реализованные нашими специалистами, в <a href="/portfolio.html">портфолио</a>. Спасибо, что выбрали именно нас!</p>

            <!-- divider -->
            <div class="divider styleColor">
              <i class="fa fa-leaf"></i>
            </div>

            <!-- carousel -->
            <div class="owl-carousel" data-plugin-options='{"items": 3, "singleItem": false, "pagination": false, "autoPlay": true}'>
              <div>
                <img class="img-responsive" src="/images/brands/1.jpg" alt="">
              </div>
              <div>
                <img class="img-responsive" src="/images/brands/2.jpg" alt="">
              </div>
              <div>
                <img class="img-responsive" src="/images/brands/3.jpg" alt="">
              </div>
              <div>
                <img class="img-responsive" src="/images/brands/4.jpg" alt="">
              </div>
              <div>
                <img class="img-responsive" src="/images/brands/5.jpg" alt="">
              </div>
              <div>
                <img class="img-responsive" src="/images/brands/6.jpg" alt="">
              </div>
              <div>
                <img class="img-responsive" src="/images/brands/7.jpg" alt="">
              </div>
              <div>
                <img class="img-responsive" src="/images/brands/8.jpg" alt="">
              </div>
            </div>

          </div>

          <div class="col-md-6">
            <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
              <div>
                <img alt="" class="img-responsive" src="/images/test_2.jpg">
              </div>
              <div>
                <img alt="" class="img-responsive" src="/images/test_1.jpg">
              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- /CAROUSEL -->


      <!-- CALLOUT -->
      <div class="bs-callout margin-top text-center styleBackground noradius">
        <h3>Очень просто выбрать <strong>Ваш новый сайта</strong> среди вариантов <strong> в нашем каталоге</strong>.
        <a href="/catalogue.html" class="btn btn-primary btn-lg">Выбрать!</a></h3>
      </div>
      <!-- /CALLOUT -->



      <!-- PARALLAX -->
      <section class="parallax delayed margin-footer" data-stellar-background-ratio="0.7" style="background-image: url('/images/parallax.jpg');">
        <span class="overlay"></span>

        <div class="container">

          <div class="row">
            <!-- left content -->
            <div class="col-md-7 animation_fade_in">
              <h2>Наши <strong>Фишки</strong></h2>
              <p class="lead">
                Любая компания должна иметь свой сайт. В наше время огромное количество пользователей выбирают товары и услуги через интернет
              </p>
              <p>
                 Качественный сайт позволит обратить внимание потенциальных клиентов именно на вашу организацию. Профессионализм исполнения интерактивной страницы, а также оригинальные тексты - вот залог успеха вашей компании в сети. 
              </p>

              <a class="btn btn-primary btn-lg" href="/services.html">Узнать больше</a>
            </div>

            <!-- right image -->
            <div class="col-md-5 animation_fade_in">
              <img class="visible-md visible-lg img-responsive pull-right" src="/images/desktop.png" alt="Услуги по созданию, продвижению и сопровождению сайтов" />
            </div>
          </div>
        </div>
      </section>
      <!-- PARALLAX -->

    </div>
    <!-- /WRAPPER -->