	<div class="wrapper clients">

  <div>
    <h2><a href="#">Our Global Most Respected Clients Include</a></h2>
    <span class="title">Donec in velit vel ipsum auctor pulvinar.</span>
    <br><br>
    <ul class="clients">
      <li> <a href="#"><img src="/images/portpholio/banner1.gif" alt="" class="shad" /></a> <strong>Quisque nulla</strong> Partuent montes nt ridiculus muulla. Donec in velit vel ipsum. <a href="#" class="clients-link">Go to our site</a> </li>
      <li> <a href="#"><img src="/images/portpholio/banner2.gif" alt="" class="shad" /></a> <strong>Sed ut perspiciatis</strong> Partuent montes nt ridiculus muulla. Donec in velit vel ipsum. <a href="#" class="clients-link">Go to our site</a> </li>
      <li class="last"> <a href="#"><img src="/images/portpholio/banner3.jpg" alt="" /></a> <strong>Proin ullamcorper</strong> Partuent montes nt ridiculus muulla. Donec in velit vel ipsum. <a href="#" class="clients-link">Go to our site</a> </li>
      <li> <a href="#"><img src="/images/portpholio/banner4.gif" alt="" /></a> <strong>Neque porro</strong> Partuent montes nt ridiculus muulla. Donec in velit vel ipsum. <a href="#" class="clients-link">Go to our site</a> </li>
      <li> <a href="#"><img src="/images/portpholio/banner5.gif" alt="" class="shad" /></a> <strong>Vestibulum sed</strong> Partuent montes nt ridiculus muulla. Donec in velit vel ipsum. <a href="#" class="clients-link">Go to our site</a> </li>
      <li class="last"> <a href="#"><img src="/images/portpholio/banner6.gif" alt="" class="shad" /></a> <strong>Neque porro</strong> Partuent montes nt ridiculus muulla. Donec in velit vel ipsum. <a href="#" class="clients-link">Go to our site</a> </li>
      <li class="last1"> <a href="#"><img src="/images/portpholio/banner7.gif" alt="" class="shad" /></a> <strong>Fusce feugiat</strong> Partuent montes nt ridiculus muulla. Donec in velit vel ipsum. <a href="#" class="clients-link">Go to our site</a> </li>
      <li class="last1"> <a href="#"><img src="/images/portpholio/banner8.jpg" alt="" /></a> <strong>Duis ac turpis</strong> Partuent montes nt ridiculus muulla. Donec in velit vel ipsum. <a href="#" class="clients-link">Go to our site</a> </li>
    </ul>
<br><br>
  </div>
</div>
	


