  <!-- WRAPPER -->
    <div id="wrapper">

      <!-- PAGE TITLE -->
      <%= render "/shared/bread" %>

      <section id="portfolio" class="container">

        <h2><strong>Изготовленные</strong> сайты</h2>

        <p class="lead">В этом разделе Вы можете познакомиться с сайтами, которые были созданы в рамках проекта "Allprogress.ru". Все работы разбиты на категории для облегчения поиска. Посмотрите, как может выглядеть Вам будущий сайт.</p>

        <ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
          <li data-option-value="*" class="active"><a href="#">Показать все</a></li>
          <li data-option-value=".money"><a href="#">Коммерческие</a></li>
          <li data-option-value=".nko"><a href="#">НКО</a></li>
          <li data-option-value=".private"><a href="#">Частные</a></li>
        </ul>


        <div class="row">

          <ul class="sort-destination isotope" data-sort-id="isotope-list">

            <li class="isotope-item col-sm-6 col-md-3 money"><!-- item -->
              <div class="item-box">
                <figure>
                  <a class="item-hover" href="portfolio-single.html">
                    <span class="overlay color2"></span>
                    <span class="inner">
                      <span class="block fa fa-plus fsize20"></span>
                      <strong>PROJECT</strong> DETAIL
                    </span>
                  </a>
                  <img class="img-responsive" src="assets/images/demo/portfolio/scouter-600x403.jpg" width="260" height="260" alt="">
                </figure>
                <div class="item-box-desc">
                  <h4>Проект Allprogress.ru</h4>
                  <small class="styleColor">7 марта 2014</small>
                </div>
              </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 money"><!-- item 2 -->
              <div class="item-box">
                <figure>
                  <a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
                    <span class="overlay color2"></span>
                    <span class="inner">
                      <span class="block fa fa-plus fsize20"></span>
                      <strong>VIEW</strong> VIDEO
                    </span>
                  </a>
                  <img class="img-responsive" src="assets/images/demo/portfolio/black-kitty-600x403.jpg" width="260" height="260" alt="">
                </figure>
                <div class="item-box-desc">
                  <h4>Проект Allprogress.ru</h4>
                  <small class="styleColor">7 марта 2014</small>
                </div>
              </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 design"><!-- item 3 -->
              <div class="item-box">
                <figure>
                  <a class="item-hover" href="portfolio-single.html">
                    <span class="overlay color2"></span>
                    <span class="inner">
                      <span class="block fa fa-plus fsize20"></span>
                      <strong>PROJECT</strong> DETAIL
                    </span>
                  </a>
                  <img class="img-responsive" src="assets/images/demo/portfolio/merchant2-600x403.jpg" width="260" height="260" alt="">
                </figure>
                <div class="item-box-desc">
                  <h4>Проект Allprogress.ru</h4>
                  <small class="styleColor">7 марта 2014</small>
                </div>
              </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 photography"><!-- item 4 -->
              <div class="item-box">
                <figure>
                  <a class="item-hover" href="portfolio-single.html">
                    <span class="overlay color2"></span>
                    <span class="inner">
                      <span class="block fa fa-plus fsize20"></span>
                      <strong>PROJECT</strong> DETAIL
                    </span>
                  </a>
                  <img class="img-responsive" src="assets/images/demo/portfolio/flippin-the-bird1-600x403.jpg" width="260" height="260" alt="">
                </figure>
                <div class="item-box-desc">
                  <h4>Проект Allprogress.ru</h4>
                  <small class="styleColor">7 марта 2014</small>
                </div>
              </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 development"><!-- item 5 -->
              <div class="item-box">
                <figure>
                  <a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
                    <span class="overlay color2"></span>
                    <span class="inner">
                      <span class="block fa fa-plus fsize20"></span>
                      <strong>VIEW</strong> VIDEO
                    </span>
                  </a>
                  <img class="img-responsive" src="assets/images/demo/portfolio/night_to_remember1-600x403.jpg" width="260" height="260" alt="">
                </figure>
                <div class="item-box-desc">
                  <h4>Проект Allprogress.ru</h4>
                  <small class="styleColor">7 марта 2014</small>
                </div>
              </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 design"><!-- item 6 -->
              <div class="item-box">
                <figure>
                  <a class="item-hover" href="portfolio-single.html">
                    <span class="overlay color2"></span>
                    <span class="inner">
                      <span class="block fa fa-plus fsize20"></span>
                      <strong>PROJECT</strong> DETAIL
                    </span>
                  </a>
                  <img class="img-responsive" src="assets/images/demo/portfolio/spacebound-600x403.jpg" width="260" height="260" alt="">
                </figure>
                <div class="item-box-desc">
                  <h4>Проект Allprogress.ru</h4>
                  <small class="styleColor">7 марта 2014</small>
                </div>
              </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 photography design"><!-- item 7 -->
              <div class="item-box">
                <figure>
                  <a class="item-hover" href="portfolio-single.html">
                    <span class="overlay color2"></span>
                    <span class="inner">
                      <span class="block fa fa-plus fsize20"></span>
                      <strong>PROJECT</strong> DETAIL
                    </span>
                  </a>
                  <img class="img-responsive" src="assets/images/demo/portfolio/be-my-guest1-600x403.jpg" width="260" height="260" alt="">
                </figure>
                <div class="item-box-desc">
                  <h4>Проект Allprogress.ru</h4>
                  <small class="styleColor">7 марта 2014</small>
                </div>
              </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 development"><!-- item 8 -->
              <div class="item-box">
                <figure>
                  <a class="item-hover" href="portfolio-single.html">
                    <span class="overlay color2"></span>
                    <span class="inner">
                      <span class="block fa fa-plus fsize20"></span>
                      <strong>PROJECT</strong> DETAIL
                    </span>
                  </a>
                  <img class="img-responsive" src="assets/images/demo/portfolio/black-box5-600x403.jpg" width="260" height="260" alt="">
                </figure>
                <div class="item-box-desc">
                  <h4>Проект Allprogress.ru</h4>
                  <small class="styleColor">7 марта 2014</small>
                </div>
              </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 development"><!-- item -->
              <div class="item-box">
                <figure>
                  <a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
                    <span class="overlay color2"></span>
                    <span class="inner">
                      <span class="block fa fa-plus fsize20"></span>
                      <strong>VIEW</strong> VIDEO
                    </span>
                  </a>
                  <img class="img-responsive" src="assets/images/demo/portfolio/weather-app-600x403.jpg" width="260" height="260" alt="">
                </figure>
                <div class="item-box-desc">
                  <h4>Проект Allprogress.ru</h4>
                  <small class="styleColor">7 марта 2014</small>
                </div>
              </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 photography"><!-- item 2 -->
              <div class="item-box">
                <figure>
                  <a class="item-hover" href="portfolio-single.html">
                    <span class="overlay color2"></span>
                    <span class="inner">
                      <span class="block fa fa-plus fsize20"></span>
                      <strong>PROJECT</strong> DETAIL
                    </span>
                  </a>
                  <img class="img-responsive" src="assets/images/demo/portfolio/theMoose-600x403.jpg" width="260" height="260" alt="">
                </figure>
                <div class="item-box-desc">
                  <h4>Проект Allprogress.ru</h4>
                  <small class="styleColor">7 марта 2014</small>
                </div>
              </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 design"><!-- item 3 -->
              <div class="item-box">
                <figure>
                  <a class="item-hover" href="portfolio-single.html">
                    <span class="overlay color2"></span>
                    <span class="inner">
                      <span class="block fa fa-plus fsize20"></span>
                      <strong>PROJECT</strong> DETAIL
                    </span>
                  </a>
                  <img class="img-responsive" src="assets/images/demo/portfolio/tumblr_mopqj9QUeq1st5lhmo1_12801-600x403.jpg" width="260" height="260" alt="">
                </figure>
                <div class="item-box-desc">
                  <h4>Проект Allprogress.ru</h4>
                  <small class="styleColor">7 марта 2014</small>
                </div>
              </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 photography"><!-- item 4 -->
              <div class="item-box">
                <figure>
                  <a class="item-hover" href="portfolio-single.html">
                    <span class="overlay color2"></span>
                    <span class="inner">
                      <span class="block fa fa-plus fsize20"></span>
                      <strong>PROJECT</strong> DETAIL
                    </span>
                  </a>
                  <img class="img-responsive" src="assets/images/demo/portfolio/scouter-600x403.jpg" width="260" height="260" alt="">
                </figure>
                <div class="item-box-desc">
                  <h4>Проект Allprogress.ru</h4>
                  <small class="styleColor">7 марта 2014</small>
                </div>
              </div>
            </li>

          </ul>

        </div><!-- /.masonry-container -->

        <%= render "/shared/kp" %>

      </section>

    </div>
    <!-- /WRAPPER -->
