<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<%= render "/shared/bread" %>

			<div class="container">

				<h2>Pricing Tables</h2>
				<p>As you can see, you can configure very easy the number of columns!</p>

				<!-- 
					BOOTSTRAP GRID
					4 columns: col-md-3
					3 columns: col-md-4
					2 columns: col-md-2
					
					For more info about bootstrap grid
					http://getbootstrap.com/css/#grid
				-->


				<!-- FOUR COLUMNS -->
				<div class="row pricetable-container">

					<div class="col-md-3 price-table">
						<h3>START</h3>
						<p>	
							$3.9
							<span>Per month</span>
						</p>

						<ul>
							<li>12GB Bandwidth</li>
							<li>750 MB Storage</li>
							<li>3 Domains</li>
							<li>Unlimited Subdomains</li>
							<li>10 Databases</li>
							<li>Free Setup</li>
						</ul>
						<a href="#" class="btn btn-primary btn-sm">SIGN UP</a>
					</div>

					<div class="col-md-3 price-table popular">
						<h3>PREMIUM</h3>
						<p>	
							$3.9
							<span>Per month</span>
						</p>
						<ul>
							<li>12GB Bandwidth</li>
							<li>750 MB Storage</li>
							<li>3 Domains</li>
							<li>Unlimited Subdomains</li>
							<li>10 Databases</li>
							<li>Free Setup</li>
						</ul>
						<a href="#" class="btn btn-default btn-sm">SIGN UP</a>
					</div>

					<div class="col-md-3 price-table">
						<h3>PROFESSIONAL</h3>
						<p>	
							$3.9
							<span>Per month</span>
						</p>
						<ul class="pricetable-items">
							<li>12GB Bandwidth</li>
							<li>750 MB Storage</li>
							<li>3 Domains</li>
							<li>Unlimited Subdomains</li>
							<li>10 Databases</li>
							<li>Free Setup</li>
						</ul>
						<a href="#" class="btn btn-primary btn-sm">SIGN UP</a>
					</div>

					<div class="col-md-3 price-table">
						<h3>ULTIMATE</h3>
						<p>	
							$3.9
							<span>Per month</span>
						</p>
						<ul>
							<li>12GB Bandwidth</li>
							<li>750 MB Storage</li>
							<li>3 Domains</li>
							<li>Unlimited Subdomains</li>
							<li>10 Databases</li>
							<li>Free Setup</li>
						</ul>
						<a href="#" class="btn btn-primary btn-sm">SIGN UP</a>
					</div>

				</div>
				<!-- /FOUR COLUMNS -->


				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>


				<!-- THREE COLUMNS PRICETABLE -->
				<div class="row pricetable-container">

					<div class="col-md-4 price-table">
						<h3>START</h3>
						<p>	
							$3.9
							<span>Per month</span>
						</p>

						<ul>
							<li>12GB Bandwidth</li>
							<li>750 MB Storage</li>
							<li>3 Domains</li>
							<li>Unlimited Subdomains</li>
							<li>10 Databases</li>
							<li>Free Setup</li>
						</ul>
						<a href="#" class="btn btn-primary btn-sm">SIGN UP</a>
					</div>

					<div class="col-md-4 price-table popular">
						<h3>PREMIUM</h3>
						<p>	
							$3.9
							<span>Per month</span>
						</p>
						<ul>
							<li>12GB Bandwidth</li>
							<li>750 MB Storage</li>
							<li>3 Domains</li>
							<li>Unlimited Subdomains</li>
							<li>10 Databases</li>
							<li>Free Setup</li>
						</ul>
						<a href="#" class="btn btn-default btn-sm">SIGN UP</a>
					</div>

					<div class="col-md-4 price-table">
						<h3>PROFESSIONAL</h3>
						<p>	
							$3.9
							<span>Per month</span>
						</p>
						<ul class="pricetable-items">
							<li>12GB Bandwidth</li>
							<li>750 MB Storage</li>
							<li>3 Domains</li>
							<li>Unlimited Subdomains</li>
							<li>10 Databases</li>
							<li>Free Setup</li>
						</ul>
						<a href="#" class="btn btn-primary btn-sm">SIGN UP</a>
					</div>

				</div>
				<!-- /THREE COLUMNS PRICETABLE -->




			</div>

		</div>
		<!-- /WRAPPER -->
