<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<%= render "/shared/bread" %>

      		<%= render '/shared/moremenu' %>

			<section class="container">

				<% flash.each do |key, value| %>
	              <%= content_tag(:div, value, class: "alert alert-#{key}") %>
	            <% end %>


				<h2>Потому что <strong>Вы</strong> лучшие!</h2>

				<p class="lead">Предлагаем Вашему вниманию три основным направления работы проекта "Allprogress.ru": создание сайтов, сопровождение сайтов и продвижение сайтов. Выберите свой формат сотрудничества!</p>

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<div class="row">
					<div class="col-md-4">
						<h4>Разработка сайтов</h4>
						<div class="item-box">
							<figure>
								<a class="item-hover" href="/services/tomakeasite.html">
									<span class="overlay color2"></span>
									<span class="inner">
										<span class="block fa fa-eye fsize20"></span>
										<strong>УЗНАТЬ</strong> БОЛЬШЕ
									</span>
								</a>
								<img class="img-responsive" src="/images/make.jpg" width="260" height="260" alt="">
							</figure>
						</div>
						<p>Изготовить сайт - это задача, требующая целого коллектива специалистов: дизайнер, web-программист, верстальщик, системный инженер, тестировщик. У нас уже сейчас вы сможете выбрать практически готовое решение, которое было разработано с применением самых передовых технологий. Качественный сайт - важный эллемент позиционирования организации.</p>
						<a href="/services/tomakeasite.html" class="btn btn-primary btn-xs center-block">Сделать Выбор</a>

					</div>
					<div class="col-md-4">
						<h4>Сопровождение сайтов</h4>
						<div class="item-box">
							<figure>
								<a class="item-hover" href="/services/toserviceasite.html">
									<span class="overlay color2"></span>
									<span class="inner">
										<span class="block fa fa-eye fsize20"></span>
										<strong>УЗНАТЬ</strong> БОЛЬШЕ
									</span>
								</a>
								<img class="img-responsive" src="/images/service.jpg" width="260" height="260" alt="">
							</figure>
						</div>
						<p>Мало создать сайт, необходимо постоянно поддерживать его в рабочем состоянии. Кроме того, нужно периодически обновлять информацию на вашем ресурсе. Оригинальные статьи с правильно подобранными ключевыми словами, написанные специально для вашего сайта профессиональными копирайтерами, позволят выйти в топ поисковых систем и удержаться там.  </p>
						<a href="/services/toserviceasite.html" class="btn btn-primary btn-xs center-block">Подробнее</a>
					</div>
					<div class="col-md-4">
						<h4>Продвижение сайтов</h4>

						<div class="item-box">
							<figure>
								<a class="item-hover" href="/services/toadvanceasite.html">
									<span class="overlay color2"></span>
									<span class="inner">
										<span class="block fa fa-eye fsize20"></span>
										<strong>УЗНАТЬ</strong> БОЛЬШЕ
									</span>
								</a>
								<img class="img-responsive" src="/images/advance.jpg" width="260" height="260" alt="">
							</figure>
						</div>

						<p>Для большенства организаций основной задачей сайта является поиск новых клиентов и, как следствие, увеличение прибыли. Мы готовы взять на себя все заботы по продвижению Вашего сайта в ТОП популярных поисковиков. Кроме того, мы разработаем для Вас проект рекламной компании интернете. Это позволит увеличить количество Ваших клиентов.</p>
						<a href="/services/toadvanceasite.html" class="btn btn-primary btn-xs center-block">Узнать Больше</a>
					</div>
				</div>

<%= render "/shared/phoneus" %>

			</section>

		</div>
		<!-- /WRAPPER -->
