<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<%= render "/shared/bread" %>

			<%= render '/shared/moremenu' %>

			<section class="container">

			<% flash.each do |key, value| %>
              <%= content_tag(:div, value, class: "alert alert-#{key}") %>
            <% end %>

				<h2>Потому что <strong>Вы</strong> лучшие!</h2>

				<p class="lead">Увеличить количество потенциальных клиентов - вот основная задача, которую ставить перед собой организация, желающая заказать продвижение сайта. Чем больше посетителей, тем больше клиентов!</p>

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<p>О продвижении своего сайта в интернете компании, как правило начинают задумываться приследую цель увеличения количества клиентов. Дейтсвительно, сейчас большинство потенциальных покупателей начинает поиск интересующих товаров или услуг именно через поисковики. В России самые популярные из них - Яндекс и Google. Также определённый объём поискового рынка занимают Mail, Rambler, Bing, Yahoo. </p>
				<p>Чем больше конкурентов у Васшего бизнеса, тем сложнее будет пробиться в ТОП поисковиков. Каждый из них использует свой уникальный алгоритм поиска, механизм функционирования которого является конфиденциальной информацией и не подлежит огласке. Однако есть некоторые общие принципы, которые позволяют специалистам по SEO-оптимизации добиться хороших результатов и вывести сайт организации в первую десятку. </p>
					<img class="pull-right inner img-thumbnail img-responsive" src="/images/advance.jpg" alt="Продвижение сайта" />
				<p>Продвижение сайта можно разделить на несколько блоков: </p>
				<ul>
					<li> SEO-оптимизация
					<li> Контекстная реклама
					<li> SMM продвижение
				</ul>
				<h3>SEO-оптимизация</h3>
				<p>Поисковую оптимизацию можно разделить на два больших блока: внутренняя работа с содержанием ресурса и работа со сторонними источниками.</p>
				<p>Первостепенным эллементом внутренней оптимизации является работа с программным кодом web-страницы. Уникальные решения позитивно скажутся на вашей позиции в поисковике и приблизят Вас к ТОПу. Использование готовых CMS является допустимым, но менее желательным, чем разработка сайта "с нуля". Не стоит думать, что если Ваш сайт построен на Joomla или Drupal, то путь в первую десятку поисковых запросов Вам априоре закрыт. Просто уникальные программный код существенно облегчит этот процесс.</p>
				<div class="testimonial classic male"><!-- full width -->
					<p>Кстати, именно поэтому в рамках проекта Allprogress.ru мы создаём ядро сайта с самого начала, не используя CMS.</p>
				</div>
				<p>Особую роль в продвижении сайта играет оригинальность и объём текстов, имеющихся на Вашем ресурсе. Очень положительный эффект оказывает привлечение копирайтеров, способных написать качественный текст с использованием ключевых слов, по которым пользователь будет Вас искать.</p>
				<div class="testimonial classic male"><!-- full width -->
					<p>При заказе сопровождения сайта мы привлекаем профессиональных копирайтеров для периодического обновления Вашего сайта.</p>
				</div>

<!--
				<div class="divider">
					<i class="fa fa-star"></i>
				</div>

				<div class="row">
					<div class="col-md-4">
						<h4>Why Me?</h4>
						<p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. </p>
					</div>
					<div class="col-md-4">
						<h4>Why You?</h4>
						<p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. </p>
					</div>
					<div class="col-md-4">
						<h4>Why Us?</h4>
						<p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. </p>
					</div>
				</div>
-->

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>
					<img class="pull-right inner img-thumbnail img-responsive" src="/images/test_2_thumb.jpg" alt="image" />
				<p>Работа со сторонними ресурсами включает в себя увеличение "веса" сайта для каждого конкретного поисковика. Речь идёт о PR, в случае с Google, и ТиЦ, если говорить про Яндекс. Количество баллов, которые Вам дал поисковик также может сыграть роль при выдаче сайта. Данные показатели можно увеличить работая со ссылочной массой. Количеством и качеством ссылок, ведущих на Ваш сайт. Желательно, чтобы сайт-донор был одной с Вами тематике и при этом имел существенно более высокие показатели ТиЦ или PR, чем у Вас. </p>

				<h3>Контекстная реклама</h3>
				<p>Если сайт уже находится в ТОПе, либо если его продвижени по особенно популярным запросам является слишком дорогостоящим можно разместить рекламу. Это позволит существенно увеличить количество посетителей Вашего сайта, а значит и количество потенциальных клиентов. Использую Яндекс.Директ можно получить ссылку на Ваш сайт из первой строчки поисковика по конкретному ключевому слову или фразе.</p>
				<h3>SMM-продвижение</h3>
				<p>Наконец Social Media Marketing, или продвижение в социальных медиа может также существенно увеличить количество Ваших клиентов. Однако это касается не всех товаров и услуг, а только тех, чьи потребятели являются массовыми. Продвижение сайта в социальных сетях, как один из основных эллементов SMM получил своё распространение относительно недавно, однако уже успел зарекомендовать себя с самой положительной стороны.</p>
				<p>Создание и популяризация Вашей организации Вконтакте и в Facebook, а также Twitter и некоторых иных популярных социальных средах позволит привлечь дополнительных клиентов. </p>

				<h3>Стоимость продвижения сайта</h3>
				<p>Данная деятельность весьма специфична, а потому расчитать точную стоимость можно только под конкретный ресурс. Сделайте заказ и наш менеджер свяжется с Вами для уточнения подробностей.</p>

				<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#1">ЗАКАЗАТЬ</a>
						<%= render :partial => '/shared/zakazat', :locals => { :specification => "1" } %>
			</section>

		</div>
		<!-- /WRAPPER -->
