          <div class="bs-callout text-center nomargin-bottom">
            <div class="row">
              <div class="col-md-8">
                <h3 class="orange">Получите наше <strong>коммерческое предложение</strong></h3>
                <p class="kpinvoice">Заполнив поле с электронной почтой и, нажав на кнопку, в течении 3 минут вы получите наше коммерческое предложение с подробным описанием предоставляемых услуг</p>
              </div>
              <div class="col-md-3">
                <form>
                  <input class="kptext btn" type="text" placeholder="Введите ваш e-mail"><br>
                  <button class="btn btn-primary btn-lg">Получить прайслист</button>
                </form>
              </div>
            </div>
          </div>