          <div class="bs-callout text-center nomargin-bottom">
            <div class="row">
              <div class="col-md-8">
                <h3 class="orange">Получите наше <strong>коммерческое предложение</strong></h3>
                <p class="kpinvoice">Заполнив поле с электронной почтой и, нажав на кнопку, в течении 3 минут вы получите наше коммерческое предложение с подробным описанием предоставляемых услуг</p>
              </div>
              <div class="col-md-3">
                <%= form_for Kp.new, :url => { :controller => "marketings", :action => "sent_kp" } do |f| %>
                  <%= f.text_field :email, :class => "kptext btn form-control", :placeholder => "Введите ваш e-mail" %>
                  <%= f.submit :class => "btn btn-primary btn-lg", :value => "Получить прайслист" %>
                <% end %>
              </div>
            </div>
          </div>