        <!-- RELATED -->
        <h2><strong>Related</strong> Projects</h2>
        <div class="row">

          <div class="col-md-3"><!-- item 1 -->
            <div class="item-box">
              <figure>
                <a class="item-hover" href="portfolio-single.html">
                  <span class="overlay color2"></span>
                  <span class="inner">
                    <span class="block fa fa-plus fsize20"></span>
                    <strong>PROJECT</strong> DETAIL
                  </span>
                </a>
                <img class="img-responsive" src="assets/images/demo/portfolio/scouter-600x403.jpg" width="260" height="260" alt="">
              </figure>
              <div class="item-box-desc">
                <h4>Atropos Project</h4>
                <small class="styleColor">29 June, 2014</small>
              </div>
            </div>
          </div>

          <div class="col-md-3"><!-- item 2 -->
            <div class="item-box">
              <figure>
                <a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
                  <span class="overlay color2"></span>
                  <span class="inner">
                    <span class="block fa fa-plus fsize20"></span>
                    <strong>VIEW</strong> VIDEO
                  </span>
                </a>
                <img class="img-responsive" src="assets/images/demo/portfolio/black-kitty-600x403.jpg" width="260" height="260" alt="">
              </figure>
              <div class="item-box-desc">
                <h4>Atropos Video</h4>
                <small class="styleColor">29 June, 2014</small>
              </div>
            </div>
          </div>

          <div class="col-md-3"><!-- item 3 -->
            <div class="item-box">
              <figure>
                <a class="item-hover lightbox" href="assets/images/demo/portfolio/merchant2-600x403.jpg" data-plugin-options='{"type":"image"}'>
                  <span class="overlay color2"></span>
                  <span class="inner">
                    <span class="block fa fa-plus fsize20">/span>
                    <strong>PROJECT</strong> DETAIL
                  </span>
                </a>
                <img class="img-responsive" src="assets/images/demo/portfolio/merchant2-600x403.jpg" width="260" height="260" alt="">
              </figure>
              <div class="item-box-desc">
                <h4>Atropos Image</h4>
                <small class="styleColor">29 June, 2014</small>
              </div>
            </div>
          </div>

          <div class="col-md-3"><!-- item 4 -->
            <div class="item-box">
              <figure>
                <a class="item-hover" href="portfolio-single.html">
                  <span class="overlay color2"></span>
                  <span class="inner">
                    <span class="block fa fa-plus fsize20"></span>
                    <strong>PROJECT</strong> DETAIL
                  </span>
                </a>
                <img class="img-responsive" src="assets/images/demo/portfolio/flippin-the-bird1-600x403.jpg" width="260" height="260" alt="">
              </figure>
              <div class="item-box-desc">
                <h4>Atropos Project</h4>
                <small class="styleColor">29 June, 2014</small>
              </div>
            </div>
          </div>

        </div>
        <!-- /RELATED -->