      <!-- REVOLUTION SLIDER -->
      <div class="fullwidthbanner-container roundedcorners">
        <div class="fullwidthbanner">
          <ul>  

            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
              <!-- MAIN IMAGE -->
              <img src="/images/plugins/slidebg1.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

              <!-- LAYER NR. 1 -->
              <div class="tp-caption lightgrey_divider skewfromrightshort customout"
                data-x="85"
                data-y="224"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500"
                data-start="1200"
                data-easing="Power4.easeOut"
                data-endspeed="500"
                data-endeasing="Power4.easeIn"
                data-captionhidden="off"
                style="z-index: 2">
              </div>

              <!-- LAYER NR. 2 -->
              <div class="tp-caption customin customout"
                data-x="right" data-hoffset="-90"
                data-y="bottom" data-voffset="0"
                data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="800"
                data-start="700"
                data-easing="Power4.easeOut"
                data-endspeed="500"
                data-endeasing="Power4.easeIn"
                style="z-index: 3"><img src="/images/plugins/desktop_slider.png" alt="">
              </div>

              <!-- LAYER NR. 3 -->
              <div class="tp-caption large_bold_grey skewfromrightshort customout"
                data-x="80"
                data-y="66"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500"
                data-start="800"
                data-easing="Back.easeOut"
                data-endspeed="500"
                data-endeasing="Power4.easeIn"
                data-captionhidden="off"
                style="z-index: 4">Создание
              </div>

              <!-- LAYER NR. 4 -->
              <div class="tp-caption large_bold_grey skewfromleftshort customout"
                data-x="80"
                data-y="122"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="300"
                data-start="1100"
                data-easing="Back.easeOut"
                data-endspeed="500"
                data-endeasing="Power4.easeIn"
                data-captionhidden="off"
                style="z-index: 7">сайтов
              </div>

              <!-- LAYER NR. 5 -->
              <div class="tp-caption small_thin_grey customin customout"
                data-x="80"
                data-y="230"
                data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500"
                data-start="1300"
                data-easing="Power4.easeOut"
                data-endspeed="500"
                data-endeasing="Power4.easeIn"
                data-captionhidden="off"
                style="z-index: 8">ООО "Ифноком-НН" предлагает Вам инновационные<br /> технологии создания сайтов для организация и ИП<br /> в Нижнем Новгороде! <a href="/catalogue.html">Подробнее...</a>
              </div>

              <!-- LAYER NR. 6 -->
              <div class="tp-caption large_bold_darkblue skewfromleftshort customout"
                data-x="80" data-hoffset="-90"
                data-y="350"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500"
                data-start="1600"
                data-easing="Back.easeOut"
                data-endspeed="500"
                data-endeasing="Power4.easeIn"
                data-captionhidden="off"
                style="z-index: 10">12
              </div>

              <!-- LAYER NR. 7 -->
              <div class="tp-caption medium_bg_darkblue skewfromleftshort customout"
                data-x="80" data-hoffset="-90"
                data-y="410"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500"
                data-start="1650"
                data-easing="Back.easeOut"
                data-endspeed="500"
                data-endeasing="Power4.easeIn"
                data-captionhidden="off"
                style="z-index: 11">Вариантов
              </div>

              <div class="tp-caption medium_bold_orange skewfromleftshort customout start font300"
                data-x="230" data-hoffset="-90"
                data-y="370"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500"
                data-start="1850"
                data-easing="Back.easeOut"
                data-endspeed="500"
                data-endeasing="Power4.easeIn"
                data-captionhidden="off"
                style="z-index: 13;"> Быстро<strong> и качественно!</strong>
              </div>

              <!-- LAYER NR. 8 -->
              <div class="tp-caption medium_bg_orange skewfromleftshort customout"
                data-x="230" data-hoffset="-90"
                data-y="410"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500"
                data-start="2300"
                data-easing="Back.easeOut"
                data-endspeed="500"
                data-endeasing="Power4.easeIn"
                data-captionhidden="off"
                style="z-index: 21">От 15 000 рублей!
              </div>

            </li>

            <!-- SLIDE  -->
            <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
              <!-- MAIN IMAGE -->
              <img src="/images/plugins/darkblurbg.jpg"  alt="darkblurbg"  data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat">
              <!-- LAYERS -->

              <!-- LAYER NR. 1 -->
              <div class="tp-caption customin"
                data-x="474"
                data-y="189" 
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500"
                data-start="800"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 2"><img src="/images/plugins/macbook2.png" alt="">
              </div>

              <!-- LAYER NR. 2 -->
              <div class="tp-caption customin"
                data-x="245"
                data-y="92" 
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500"
                data-start="500"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 3"><img src="/images/plugins/imac1.png" alt="">
              </div>

              <!-- LAYER NR. 3 -->
              <div class="tp-caption customin"
                data-x="693"
                data-y="69" 
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500"
                data-start="1300"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 4"><img src="/images/plugins/lupe_macbook.png" alt="">
              </div>

              <!-- LAYER NR. 4 -->
              <div class="tp-caption customin"
                data-x="100"
                data-y="171" 
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500"
                data-start="1400"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 5"><img src="/images/plugins/lupe_imac.png" alt="">
              </div>

              <!-- LAYER NR. 5 -->
              <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                data-x="104"
                data-y="154" 
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="800"
                data-start="1500"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Power1.easeIn"
                data-captionhidden="on"
                style="z-index: 6">Размещение новостей
              </div>

              <!-- LAYER NR. 6 -->
              <div class="tp-caption medium_bg_red skewfromright customout"
                data-x="820"
                data-y="274" 
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="800"
                data-start="1700"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Power1.easeIn"
                data-captionhidden="on"
                style="z-index: 7">Изменение дизайна
              </div>

              <!-- LAYER NR. 7 -->
              <div class="tp-caption medium_bg_orange skewfromright customout"
                data-x="820"
                data-y="314" 
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="800"
                data-start="1800"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Power1.easeIn"
                data-captionhidden="on"
                style="z-index: 8">Редактирование меню
              </div>

              <!-- LAYER NR. 8 -->
              <div class="tp-caption medium_bg_darkblue skewfromleft customout"
                data-x="168"
                data-y="193" 
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="800"
                data-start="1600"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Power1.easeIn"
                data-captionhidden="on"
                style="z-index: 9">Техническая поддержка
              </div>

              <!-- LAYER NR. 9 -->
              <div class="tp-caption large_bold_white customin customout"
                data-x="428"
                data-y="34" 
                data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="600"
                data-start="1100"
                data-easing="Back.easeOut"
                data-endspeed="300"
                data-endeasing="Power1.easeIn"
                style="z-index: 10">Сопровождение сайтов
              </div>

              <!-- LAYER NR. 10 -->
            </li>
            
            <!-- SLIDE  -->
            <li data-transition="zoomin" data-slotamount="7" data-masterspeed="600" >
              <!-- MAIN IMAGE -->
              <img src="/images/plugins/videobg1.jpg"  alt="videobg1"  data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat">
              <!-- LAYERS -->

              <!-- LAYER NR. 1 -->
              <div class="tp-caption medium_bg_darkblue sfr customout"
                data-x="189"
                data-y="88" 
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500"
                data-start="1600"
                data-easing="Power4.easeOut"
                data-endspeed="500"
                data-captionhidden="on"
                style="z-index: 2">Продвижение сайтов
              </div>

              <!-- LAYER NR. 2 -->
              <div class="tp-caption medium_bg_red sfr customout"
                data-x="189"
                data-y="130" 
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500"
                data-start="1700"
                data-easing="Power4.easeOut"
                data-endspeed="500"
                data-captionhidden="on"
                style="z-index: 3">Поисковые системы
              </div>

              <!-- LAYER NR. 3 -->
              <div class="tp-caption medium_bg_red sfr customout"
                data-x="250"
                data-y="173" 
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500"
                data-start="1800"
                data-easing="Power4.easeOut"
                data-endspeed="500"
                data-captionhidden="on"
                style="z-index: 4">Статьи в СМИ
              </div>

              <!-- LAYER NR. 4 -->
              <div class="tp-caption medium_bg_red sfr customout"
                data-x="180"
                data-y="216" 
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500"
                data-start="1900"
                data-easing="Power4.easeOut"
                data-endspeed="500"
                data-captionhidden="on"
                style="z-index: 5">Контекстная реклама
              </div>

              <!-- LAYER NR. 5 -->
              <div class="tp-caption medium_bg_orange sfr customout"
                data-x="140"
                data-y="357" 
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500"
                data-start="2200"
                data-easing="Power4.easeOut"
                data-endspeed="500"
                data-captionhidden="on"
                style="z-index: 6">SEO в Нижнем Новгороде
              </div>

              <!-- LAYER NR. 6 -->
              <div class="tp-caption sft customout"
                data-x="399"
                data-y="385" 
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="1000"
                data-start="1500"
                data-easing="Back.easeOut"
                data-endspeed="500"
                data-captionhidden="on"
                style="z-index: 7"><img src="/images/plugins/videoshadow.png" alt="">
              </div>

              <!-- LAYER NR. 7 -->
              <div class="tp-caption customin customout"
                data-x="right" data-hoffset="-132"
                data-y="center" data-voffset="0"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="600"
                data-start="1000"
                data-easing="Power4.easeOut"
                data-endspeed="500"
                data-endeasing="Power4.easeOut"
                data-autoplay="false"
                data-autoplayonlyfirsttime="false"
                style="z-index: 8"><img src="/images/plugins/ya.png" alt="">
              </div>
            </li>

          </ul>
          <div class="tp-bannertimer"></div>
        </div>
      </div>
      <!-- /REVOLUTION SLIDER -->